main img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    margin-top: 1px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.card {
    width: 300px;
    height: 450px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 16px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;  
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-image {
    width: 90%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .card-content {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
  }
  .card-price{
    font-size: 19px;
    margin-top: 5px;
  }
  
  .card-title {
    font-size: 20px;
   
    color: #555;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .card-text {
    font-size: 20px;
    color: #555;
    margin-top: 5px;
    
  }